@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --manin-color: white;
  --main-font: Poppins;
}

body {
  background: url('../images/image.png') no-repeat center center/cover;
  height: 100vh;
  backdrop-filter: blur(3px); 
}

nav {
  width: 1400px;
  height: 100%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid white;
}

.brand_name {
  font-size: 28px;
  font-family: var(--main-font);
  color: var(--manin-color);
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--manin-color);
  z-index: 10;
}

a {
  text-decoration: none;
}

.social_icons a {
  padding: 10px 13px;
  color: var(--manin-color);
  margin-left: 8px;
  font-size: 25px;
  border-radius: 5px;
  background-color: rgb(211, 211, 211, 0.4);
  backdrop-filter: blur(10px);
  transition: 200ms;
}

.social_icons a:hover {
  box-shadow: 0 0 15px black;
}

.header_elements a {
  font-family: var(--main-font);
  color: var(--manin-color);
  margin: 15px;
  font-size: 18px;
  transition: 200ms;
}

.header_elements a:hover{
  text-shadow: 0 0 10px black;
}

.department {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 250px;
}

.welcome h1 {
  color: var(--manin-color);
  font-size: 50px;
  font-family: var(--main-font);
  margin-bottom: 20px;
}

.text p {
  color: var(--manin-color);
  font-size: 17px;
  line-height: 32px;
  font-family: var(--main-font);
  margin-bottom: 40px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.button button {
  width: 150px;
  height: 45px;
  border-radius: 6px;
  font-family: var(--main-font);
  font-size: 16px;
}

.btn1 {
  border: none;
  background-color: var(--manin-color);
  color: black;
}

.btn2 {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}